.footer-container {
    font-size: 14px;
    color: white;
    background-color: #3c200c;
    opacity: 0.8;
}

.footer-row-1 {
    text-align: center;
    margin: 20px 10px 10px 10px;
}

.footer-row-2 {
    text-align: center;
}

.linked {
    color: white;
}

.linked:hover {
    text-decoration: none;
    color: #f8e700;
}

.col-footer-1, .col-footer-2, .col-footer-3 {
    min-width: 250px;
    margin: 5px 0;
}

.col-footer-3 ul {
    margin: 5px 0;
}
.img-apple{
    margin-top: -10px;
    cursor: pointer;
}

.img-google {
    margin-top: 0px;
    cursor: pointer;
}